# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.jpg
*.png
personalSite/js/npm.js
personalSite/js/bootstrap.min.js
personalSite/js/bootstrap.js
personalSite/jobs.html
personalSite/interests.html
*.gif
personalSite/img/cevaz01.jpeg
personalSite/education.html
personalSite/css/font-awesome.min.css
*.map
personalSite/css/font-awesome.css
personalSite/css/bootstrap.min.css
personalSite/css/bootstrap.css
personalSite/css/bootstrap-theme.min.css
personalSite/css/bootstrap-theme.css
personalSite/about.html
*.svg
mockup/script/slideshow.js
mockup/script/jquery.imagesloaded.js
mockup/script/jquery.easing.1.3.js
mockup/css/slideshow.css
*.otf
mockup/css/jcarousel.basic.css
*.woff2
fonts/fontawesome-webfont.woff
*.ttf
fonts/fontawesome-webfont.eot
angular.min.js
css/font-awesome.min.css
css/font-awesome.css
